In [1]:
print(7**9)

40353607

In [3]:
x=3033
y=333
print(x==y)
print(x<y)
print(x>y)
print(x!=y)
print(x+y)

False
True
False
True
63

In [5]:
list=[39,33,49,20,12]
print('49' not in list)

True

In [15]:
def surname(add):
    print(add +" tripathi")
surname("Rishi Raj")
surname("Shubham")
surname("Riya")
surname("krishna")

Rishi Raj tripathi
Shubham tripathi
Riya tripathi
krishna tripathi

In [2]:
thistuple=("appe","maongo","icecream")
print(thistuple)

('appe', 'maongo', 'icecream')

In [4]:
thistuple=("rishi","raj","singh","bhati")
print(thistuple[2])

singh

In [7]:
hello=("rishi","raj","singh","bhati")
print(hello[0:3])

('rishi', 'raj', 'singh')

In [11]:
def addition(add):
    print(add *"*")
addition(2)
addition(3)
addition(4)
addition(5)
addition(6)

**
***
****
*****
******

In [26]:
import pandas as sort
data=sort.read_csv("C:\csv\iv.csv")

print(data)
df = sort.sort_values(data)

      Series_reference   Period  Data_value Suppressed STATUS   UNITS  \
0          BDCQ.SEA1AA  2011.06     80078.0        NaN      F  Number
1          BDCQ.SEA1AA  2011.09     78324.0        NaN      F  Number
2          BDCQ.SEA1AA  2011.12     85850.0        NaN      F  Number
3          BDCQ.SEA1AA  2012.03     90743.0        NaN      F  Number
4          BDCQ.SEA1AA  2012.06     81780.0        NaN      F  Number
...                ...      ...         ...        ...    ...     ...
21797    BDCQ.SEE3999A  2017.06         NaN          Y      C  Number
21798    BDCQ.SEE3999A  2017.09         NaN          Y      C  Number
21799    BDCQ.SEE3999A  2017.12         NaN          Y      C  Number
21800    BDCQ.SEE3999A  2018.03         NaN          Y      C  Number
21801    BDCQ.SEE3999A  2018.06         NaN          Y      C  Number

       Magnitude                         Subject  \
0              0  Business Data Collection - BDC
1              0  Business Data Collection - BDC
2              0  Business Data Collection - BDC
3              0  Business Data Collection - BDC
4              0  Business Data Collection - BDC
...          ...                             ...
21797          0  Business Data Collection - BDC
21798          0  Business Data Collection - BDC
21799          0  Business Data Collection - BDC
21800          0  Business Data Collection - BDC
21801          0  Business Data Collection - BDC

                                              Group  \
0                   Industry by employment variable
1                   Industry by employment variable
2                   Industry by employment variable
3                   Industry by employment variable
4                   Industry by employment variable
...                                             ...
21797  Territorial authority by employment variable
21798  Territorial authority by employment variable
21799  Territorial authority by employment variable
21800  Territorial authority by employment variable
21801  Territorial authority by employment variable

                               Series_title_1  \
0                                 Filled jobs
1                                 Filled jobs
2                                 Filled jobs
3                                 Filled jobs
4                                 Filled jobs
...                                       ...
21797  Filled jobs (workplace location based)
21798  Filled jobs (workplace location based)
21799  Filled jobs (workplace location based)
21800  Filled jobs (workplace location based)
21801  Filled jobs (workplace location based)

                           Series_title_2 Series_title_3  Series_title_4  \
0       Agriculture, Forestry and Fishing         Actual             NaN
1       Agriculture, Forestry and Fishing         Actual             NaN
2       Agriculture, Forestry and Fishing         Actual             NaN
3       Agriculture, Forestry and Fishing         Actual             NaN
4       Agriculture, Forestry and Fishing         Actual             NaN
...                                   ...            ...             ...
21797  Area Outside Territorial Authority         Actual             NaN
21798  Area Outside Territorial Authority         Actual             NaN
21799  Area Outside Territorial Authority         Actual             NaN
21800  Area Outside Territorial Authority         Actual             NaN
21801  Area Outside Territorial Authority         Actual             NaN

       Series_title_5
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
21797             NaN
21798             NaN
21799             NaN
21800             NaN
21801             NaN

[21802 rows x 14 columns]

AttributeError: module 'pandas' has no attribute 'sort_values'

In [21]:
import pandas as pd
data = {
    "Name": ["Rishi raj", "riya","Shyam"],
    "marks": [1, 2, 3]
}
myvar = pd.DataFrame(data)
print(myvar)

        Name  marks
0  Rishi raj      1
1       riya      2
2      Shyam      3